<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>comment-docs-test</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/main.js"></script>
</head>
<body ng-app="doxrayApp" ng-controller="DocsCtrl" class="body">

    <div class="masthead">
        <h1 class="masthead_title">{{ title }}</h1>
        <ul class="nav">
            <li ng-repeat="family in families" class="nav_item">
                <button ng-click="setFamily(family)" class="nav_btn">{{ family }}</button>
                <!-- <ul class="nav nav__sub">
                    <li ng-repeat="pattern in data | doxrayFamily:family"
                        ng-if="family == currentFamily">
                        <button class="nav_btn nav_btn__sub">
                            {{ pattern.docs.name }}
                        </button>
                    </li>
                </ul> -->
            </li>
        </ul>
    </div>

    <div class="main" id="main">
        <!-- Side nav -->
        <div ng-repeat="pattern in data | doxrayFamily:currentFamily"
             on-last-repeat
             class="pattern">
            <h1 class="pattern_title">{{ pattern.docs.name }}</h1>
            <div class="pattern_code-toggles">
                <button ng-if="pattern.code_alt"
                        ng-click="toggleLESS( pattern )"
                        class="ng-class:{'btn__grouped-first':pattern.code};
                               btn
                               btn__secondary
                               btn__less">
                    LESS
                </button>
                <button ng-if="pattern.code"
                        ng-click="toggleCSS( pattern )"
                        class="ng-class:{'btn__grouped-last':pattern.code_alt};
                               btn
                               btn__secondary
                               btn__css">
                    CSS
                </button>
            </div>
            <div class="pattern_docs">
                <div ng-repeat="pattern in pattern.docs.patterns" class="pattern_sub-pattern">
                    <h1 ng-if="pattern.name" class="pattern_name">{{ pattern.name }}</h1>
                    <div ng-if="pattern.markup"
                         ng-bind-html="pattern.markup"
                         class="pattern_rendered"></div>
                    <pre ng-if="pattern.markup" class="pattern_content pattern_content__markup"><code class="xml">{{ pattern.markup }}</code></pre>
                    <div ng-if="pattern.codenotes" class="pattern_content">
                        <div ng-repeat="codenote in pattern.codenotes">
                            <pre><code class="pattern_codenote">{{ codenote }}</code></pre>
                        </div>
                    </div>
                    <div ng-if="pattern.notes" class="pattern_content">
                        <ul>
                            <li ng-repeat="note in pattern.notes">
                                {{ note }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-if="pattern.code || pattern.code_alt"
                 ng-show="pattern.showCSS || pattern.showLESS"
                 class="pattern_code-col">
                <div class="pattern_code-container">
                    <pre ng-if="pattern.code"
                         ng-show="pattern.showCSS"
                         class="pattern_code pattern_code__css"><code class="css">{{ pattern.code }}</code></pre>
                    <pre ng-if="pattern.code_alt"
                         ng-show="pattern.showLESS"
                         class="pattern_code pattern_code__less"><code class="less">{{ pattern.code_alt }}</code></pre>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
